__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
ehthumbs.db
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
*.egg
.ipynb_checkpoints/
.cache/
.pytest_cache/
.env
.mypy_cache/
data/raw/training.1600000.processed.noemoticon.csv